.flexcontainer{
    display: flex;
    flex-direction: row;
}

.line{
    width: 100%;
}

.dark-bg{
    background-color: #131316;
}

.lighterdark-bg{
    background-color: #252726;
}

.beige-bg{
    background-color: #f7f7f7;
}

.white-bg{
    background-color: #ffffff;
}
