  /* .content{
    border-style: dashed;
  } */
  
  .nav-bary{
    height:75px;
  }

  .nav-elements{
    height: 100%;
    padding: 20px;
    color: grey;
    font-size: 13px;
    font-weight: 400;
  }

  .nav-elements:hover{
    border-bottom: solid #00e1ff;
    color: #00e1ff;
  }

  .logo-text{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    display: inline;
  }

  .logo{
    padding-left:10% ;
    width: 20%;
  }