<div class="content" role="main">    
    <div class="row h-50">
        <div class="col-3"></div>
        <div class="col-6">
           <div class="h-25 m-auto">
                <h1 class="m-auto"> Contact Us</h1>
           </div>
           <div class="text-center">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend sagittis mi ac maximus. Phasellus ut purus elementum erat lobortis aliquet ut quis dui. Donec condimentum nisl a laoreet commodo.
           </div>
           <div>
             <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
               <div class="align-center">
                 <input class="buttonn input-field input-field1" type="text" formControlName="name" placeholder="Your name here">
                 <input class="buttonn input-field input-field1" type="text" formControlName="email" placeholder="Your mail here">
               </div>
               <div class="input2">
                 <input class="buttonn input-field input-field2" type="text" formControlName="message" placeholder="Your message here">
               </div>
               <input class="buttonn button1" type="submit" [disabled]="!messageForm.valid">
             </form>
          </div>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row bgc-gray">
        <div class="col-12 pad-down">
            <div class="rectangle">
                Thing Thing <br> Etwas@sum.place <br> 1(337) 00000000
            </div>
            <div class="triangle-down"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 align-center pt-4">
            <h6> ® 2014 - <p class="blue-text">Kat</p> All Rights Reserved</h6>
        </div>            
    </div>  
</div>
