.line1{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:4%;
}

.line1-item{
    width:20%;
    text-align:center;
}

.line1-item *{
    margin: auto;
    margin-top:30px;
}

.separator{
    width: 80px;
    height: 0px;
    border: 1px solid #00e1ff;
}

button{
    font-size: 1.5em;
    font-weight: 400;
    border: 1px solid #252726;
    padding: 0.4em;
}

.button-container{
    justify-content: center;
    padding-top: 4%;
    margin-top: 6%;
}

.button-container button{
    width: 22em;
}

.button-container button:hover{
    border-color: #00e1ff ;
}

.desccontainer{
    width: 50%;
    margin: auto;
    margin-top: 6%;
}

.textcontainer{
    margin-left: 14%;
}

.textcontainer h1{
    font-weight: 400;
}

.textcontainer p{
    font-size: 1.2em;
}

.button1{
    color: #00e1ff;
    border-color: #00e1ff;
    padding: 0.5em 1.5em;
    margin-top: 6%;
}