<div class="row header lighterdark-bg">
    <div class="col-12 middle">
        <div class="center">
            <h5>If you want to hear more stories, subscribe to our newsletter</h5>
            <button class="button" (click)="showControls=!showControls">Subscribe</button>
            <form [formGroup]="subscribeForm" (ngSubmit)="subscribe()" *ngIf="showControls">
                <div class="align-center">
                  <input type="text" formControlName="email" placeholder="Your email here">
                </div>
                <input type="submit" [disabled]="!subscribeForm.valid">
              </form>
        </div>
    </div>
</div>
