.content{
    background-color: #252726;
    height: 80vh;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
  }

h1{
    color: white;
    font-weight: 100;
    font-size: 5em;
}

button{
    font-size: 15px;
    width: 12em;
    height: 4em;
    color: white;
    background-color: #252726;
    border: 1px solid white;
}